:root {
	--nav-width: 300px;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #20c;
}

body {
	font-family: sans-serif;
	margin: 0;
}

dd {
	display: inline;
	margin: 0;
}

dt {
	display: inline;
}

dt:last-of-type::after {
	content: ': ';
}

pre {
	overflow: auto;
	-moz-tab-size: 2;
	tab-size: 2;
}

article,
header,
section {
	padding: 0 8px;
}

section article,
section header,
section section {
	padding: 0;
}

#navbar {
	background: #eee;
	padding: 8px;
}

@media (min-width: 850px) {
	body {
		margin: 0 0 0 var(--nav-width);
	}

	#navbar {
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		width: var(--nav-width);
	}
}

#zeb-footer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: space-evenly;
	padding: 0 10px;

	background-color: #eee;
	color: #000;
}

#zeb-footer p {
	margin: 4px 0;
}